* {
  font-family: "Fira Sans", sans-serif;
}
.gentsefeestenlogo {
  background-color: black;
  width: 250px;
  padding-top: 35px;
  padding-left: 25px;
}

header {
  background-color: black;
  height: 180px;
  display: flex;
}

main {
  background-color: rgba(231, 208, 184, 255);
}

.Backgroundlettermain {
  width: 70vw;
}

.topleft {
  display: flex;
}

.navleft {
  text-align: left;
  justify-content: space-between;
}

.navright {
  text-align: right;
}

.mainbackgroundimg {
  width: 65vw;
}

.grid-container {
  display: grid;
  padding-left: 5rem;
  padding-right: 5rem;
  grid-auto-columns: auto;
  align-content: center;
  height: 50rem;
  grid-template-areas:
    "day1 day2 ."
    "day3 day4 day5"
    "day6 day7 day8"
    ". day9 day10";
}

.griditem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5rem;
  width: 9.5rem;
  background-color: red;
  border-style: solid;
  border-color: rgba(231, 208, 184, 255);
}
.day1 {
  grid-area: day1;
}
.day2 {
  grid-area: day2;
}
.day3 {
  grid-area: day3;
}
.day4 {
  grid-area: day4;
}
.day5 {
  grid-area: day5;
}
.day6 {
  grid-area: day6;
}
.day7 {
  grid-area: day7;
}
.day8 {
  grid-area: day8;
}
.day9 {
  grid-area: day9;
}
.day10 {
  grid-area: day10;
}

.main-container {
  display: flex;
}

.nieuws {
  display: flex;
  width: 100vw;
  height: 50vw;
  background-color: black;
}

.nieuws li {
  color: white;
  list-style: none;
  transform: rotate(-90deg);
  font-size: 300%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.nieuwsgrid {
  grid-area: ;
}
